@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'variables.scss';
@import 'mixins.scss';

body {
  margin: 0;
  min-height: 100%;
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
  color: $dark-gray !important;

  .main-container {
    margin-top: 40px;
  }
}

nav {
  background-color: $white !important;
  span, a {
    color: $dark-gray !important;
  }
}

.card-notice {
  background-color: $white;
  padding: 20px 35px;
  margin: 0;
  border-radius: 10px;
}

.card-new {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-secondary {
  background-color: $white;
  padding: 20px 35px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);

  .details-link,
  .signup {
    border: 2px solid $light-blue;
    @include button;

    &:hover {
      background: $light-blue;
    }
  }

  .delete-button {
    border: 2px solid $light-red;
    @include button;

    &:hover {
      background: $light-red;
    }
  }

  .create-button,
  .submit-button {
    border: 2px solid $light-green;
    @include button;

    &:hover {
      background: $light-green;
    }
  }

  .input,
  .create-notice-input,
  .comment-input {
    background-color: $white;
    border: 2px solid $light-gray !important;
    border-radius: 5px !important;
  }
}

.sidenav {
  padding-top: 30px;
  background-color: #e9e9e9;

  li {
      &:first-child {
        border-top: 2px solid $light-gray;
      }

      &:last-child {
        border-bottom: none;
      }
      
      border-bottom: 2px solid $light-gray;
  }
}

.text-area {
  height: auto !important;
}

.input-field>label {
  color: #444 !important;
}

label {
  color: $dark-gray !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #E5E5E5 !important;
  box-shadow: 0 1px 0 0 #E5E5E5 !important;
  color: #E5E5E5 !important;
  box-shadow: none;
}

.m-1 {
  margin: 10px !important;
}

.m-4 {
  margin: 40px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.p-3 {
  padding: 30px !important;
}

.text-center {
  text-align: center !important;
}

/* Media Queries */
@media screen and (max-width: 768px) {

  .mobile-menu {
    display: flex;
  }

  .menu {
    padding-top: 60px;
    display: none;
  }

  .menu > ul > li {
    display: block;
    text-align: left;
    position: relative;
  }

  .sub-menu a:hover {
    color: #333;
  }
  
  .has-sub-menu > a {
    /* position: static; */
    display: inline-block;
  }

  .has-sub-menu > a::after {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .sub-menu-wrapper {
    position: static;
    background: transparent;
    flex-direction: column;
    opacity: 1;
    display: none;
  }

  .has-sub-menu:hover > .sub-menu-wrapper {
    opacity: initial;
  }

  .sub-menu {
    width: 100%;
    padding: 10px 5px;
  }

  .sub-menu-heading {
    border-color: #fff;
  }

  .sub-menu-wrapper a {
    color: #fff;
  }


}

@media (max-width: 769px) {
  body {
    .main-container {
      margin-top: 30px;
    }
  }
}

@media (max-width: 480px) {
  body {
    .main-container {
      margin-top: 20px;
    }
  
    nav .brand-logo {
      font-size: 13px !important;
    }
  
    .card-new {
      padding: 20px 15px;
    }
  }
}