@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  min-height: 100%;
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
  color: #333 !important;
}

nav a, nav span {
  color: #333 !important;
}

.card-notice {
  background-color: #fff;
  padding: 20px 35px;
  margin: 0;
  border-radius: 10px;
}

.card-secondary {
  background-color: #fff;
  padding: 20px 35px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.card-secondary .details-link,
.card-secondary .signup {
    border: 2px solid #ADE4FF;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
    color: #333;
    text-transform: capitalize;
    padding: 8px 38px;
    font-size: 14px;
    cursor: pointer;
}

.card-secondary .details-link:hover,
.card-secondary .signup:hover {
  background: #ADE4FF;
}

.card-secondary .delete-button {
  border: 2px solid #FFA0A0;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
  background-color: white;
  color: #333;
  text-transform: capitalize;
  padding: 8px 38px;
  font-size: 14px;
  cursor: pointer;
}

.card-secondary .delete-button:hover {
  background: #FFA0A0;
}

.card-secondary .create-button,
.card-secondary .submit-button {
  border: 2px solid #8DDA87;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
  background-color: white;
  color: #333;
  text-transform: capitalize;
  padding: 8px 38px;
  font-size: 14px;
  cursor: pointer;
}

.card-secondary .create-button:hover,
.card-secondary .submit-button:hover {
  background: #8DDA87;
}

.card-new {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-new-head {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px 0px;
}

.card-new-head h4 {
  margin: 0;
}

.card-new-content {
  background-color: #fff;
  padding: 20px 35px;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-secondary .input, 
.comment-input {
  background-color: #fff;
  border: 2px solid #DCDCDC !important;
  border-radius: 5px !important;
}

.text-area {
  height: auto !important;
}

.input-field>label {
  color: #444 !important;
}

label {
  color: #333 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #E5E5E5 !important;
  box-shadow: 0 1px 0 0 #E5E5E5 !important;
  color: #E5E5E5 !important;
  box-shadow: none;
}

#image {
  opacity: 0;
  z-index: -1;
}

.m-1 {
  margin: 10px !important;
}

.m-2 {
  margin: 20px !important;
}

.m-3 {
  margin: 30px !important;
}

.m-4 {
  margin: 40px !important;
}

.m-5 {
  margin: 50px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.p-5 {
  padding: 50px !important;
}

.p-4 {
  padding: 40px !important;
}

.p-3 {
  padding: 30px !important;
}

.p-2 {
  padding: 20px !important;
}

.p-1 {
  padding: 10px !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 1281px) {
  nav .brand-logo>span {
    font-size:2vw;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  nav .brand-logo>span {
    font-size:2vw;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  nav .brand-logo>span {
    font-size:2vw;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav .brand-logo>span {
    font-size:2vw;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  nav .brand-logo>span {
    font-size:2vw;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  nav .brand-logo {
    font-size: 13px !important;
  }

  .card-new {
    padding: 20px 15px;
  }
}